myClient/xml-resources/web-service-references/myServer/wsdl/localhost_8080/myServer.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://myserver.mycompany.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AAAWSImplService" targetNamespace="http://myserver.mycompany.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://myserver.mycompany.com/" elementFormDefault="unqualified" targetNamespace="http://myserver.mycompany.com/" version="1.0">

  <xs:element name="getClients" type="tns:getClients"/>

  <xs:element name="getClientsResponse" type="tns:getClientsResponse"/>

  <xs:element name="getPerson" type="tns:getPerson"/>

  <xs:element name="getPersonResponse" type="tns:getPersonResponse"/>

  <xs:element name="person" type="tns:person"/>

  <xs:element name="student" type="tns:student"/>

  <xs:complexType name="getClients">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getClientsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPerson">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPersonResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:person"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="person">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="s" type="tns:student"/>
      <xs:element minOccurs="0" name="student" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="student">
    <xs:sequence>
      <xs:element minOccurs="0" name="matr" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getClients">
    <wsdl:part element="tns:getClients" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClientsResponse">
    <wsdl:part element="tns:getClientsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPerson">
    <wsdl:part element="tns:getPerson" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonResponse">
    <wsdl:part element="tns:getPersonResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AAAWSIFace">
    <wsdl:operation name="getClients">
      <wsdl:input message="tns:getClients" name="getClients">
    </wsdl:input>
      <wsdl:output message="tns:getClientsResponse" name="getClientsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerson">
      <wsdl:input message="tns:getPerson" name="getPerson">
    </wsdl:input>
      <wsdl:output message="tns:getPersonResponse" name="getPersonResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AAAWSImplServiceSoapBinding" type="tns:AAAWSIFace">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getClients">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getClients">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getClientsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerson">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPerson">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AAAWSImplService">
    <wsdl:port binding="tns:AAAWSImplServiceSoapBinding" name="AAAWSImplPort">
      <soap:address location="http://localhost:8080/myServer"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>